* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.promo {
    height: 800px;
    background: url(../img/backgr_main.png) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.container {
    width: 1148px;
    margin: 0 auto;
    
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
    margin-bottom: 9.5px;
}

.logo .logo_text {
    color: #fff;
    font-family: 'Roboto-Regular';
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 53px;
}

.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 41px;
    line-height: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 21px auto 21px auto;
}

.promo .promo_text {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
    text-align: center;
    padding: 0 3px;
    margin-top: 23px;
}

.promo .promo_text span {
    color: #f9bf3b;
    font-family: 'Roboto-Bolid';
    font-weight: 700;
    text-transform: uppercase;
}

.promo .promo_btn, .gift .gift_btn {
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: 'Roboto-Condensed';
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 73px;

}

.more .more_txt {
    font-family: 'Roboto-Thin';
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting {
    height: 607px;
    background-color: #efefef;
    padding: 88px 0 75px 0;

}

.waiting .waiting_header, .finish .finish_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.waiting .waiting_divider, .finish .finish_divider {
    width: 220px;
    height: 7px;
    background: #F9BF3B; 
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 19px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 342px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr {
    margin-top: 26px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #4A4A4A;
}

.optimization {
    padding: 108px 0 68px 0;
    min-height: 548px;
    position: relative;
}


.optimization p {
    margin-top: 26px;
}

.optimization .optimization_header {
    margin-left: 391px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-left: 387px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
    color: #4A4A4A;
}

.optimization .optimization_img {
    position: absolute;
    margin-top: 47px;
    margin-left: 157px;
    width: 868px;
    height: 502px;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 69px 0;
    background: url(../img/second_bg.png) center center/cover no-repeat
}

.finish .finish_header {
    color: #efefef;
}

.finish .finish_wrapper {
    margin-top: 39px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 234px;
}

.finish .finish_wrapper .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 118px;
    height: 118px;
    background: #B4E2FF; 
    border-radius: 100%;
} 

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

.gift {
    min-height: 631px;
    display: flex;
    background-color: #efefef;
}

.gift .gift_img {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.gift .gift_descr {
    margin-top: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 43px;
    /* or 143% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #252525;
}

.gift .gift_btn {
    margin-top: 51px;
}

.first {
    display: flex;
    min-height: 512px;
    background-color: #ffffff;
}

.first img {
    display: flex;
    width: 342px;
    margin: 0 auto;
    margin-top: 89px;
}

.first .first_header {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
    margin-top: 36px;
}

.first .first_date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.first .first_descr {
    margin: 25px 0 51px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 20px;
    text-align: center;
    color: #4A4A4A;
}

.footer {
    min-height: 169px;
    background-color: #1A1A1A;
    display: flex;
}

.footer a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    color: #888888;
    /* margin: 57px 0 69px; */
}


.footer .footer_help {
    margin-top: 57px;
}

.footer span {
    text-decoration: none;
}